
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <h1>Welcome to gitPub</h1>


    <!-- Loop for names and capital letters -->
    <% for (let i = 0; i < drinks.length; i++){ %>
        <% drinks[i].name = drinks[i].name.charAt(0).toUpperCase() + drinks[i].name.slice(1) %>
        <a href="/drinks/ <%= i %>"><li id="drinkNames"> <%= drinks[i].name %> </li></a>
    <% } %>


    <style>
        body {
            background-color: rgb(92, 92, 92);
            color: black;
            text-align: center;
        }

        #drinkNames {
            color: orange;
        }
    </style>
    
</body>
</html>