

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPub</title>

</head>
<body>
    <h1>At foo bar</h1>

    <div class="drinkDetails">
        <h2><%= drink.name %></h2>
        <img src="<%= drink.image %>.png">
        <h3>$<%= drink.price %></h3>     
    </div>

    <a href="/drinks">Return to Main Menu</a>


    <style>
        body {
            background-color: rgb(92, 92, 92);
            color: black;
            text-align: center;
        }

        #drinkNames {
            color: orange;
        }
    </style>
    
</body>
</html>